body {
  font-family: 'Cairo', sans-serif;
  background-color: #102B53;
  background-image: url('images/back.jpg'); /* Utilisation correcte de l'URL */
  background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.navbar-custom {
    background-color: #50698D;
    opacity: 80%;
    border-radius: 10px;
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #b4f20a; /
  }
  .navbar-custom .nav-link:hover {
    color: #dae604; 
  }





 .h {
  background-color: #15162d;
  border-radius: 40px;
 }











footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
